@import './variables.scss';

html {
  body {
    background: $bodyColor;
    background-image: url("./logo.jpg"); 
    background-repeat: no-repeat; 
    background-position: center;
  }
}

// Used to demonstrate that autoprefixer is functioning
.myclass {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
